@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <form name="myMethodForm">
            <label for="methodSelector"> Select a method: </label>
            <select id="methodSelector" name="methodSelector" 
                    ng-options="option.name for option in httpOptions.availableOptions track by option.id"
                    ng-model="httpOptions.selectedOption"></select>
            <input type="text" id="urlInput" width="200" name="name" value="" placeholder="Enter a URL" />
            <input type="submit" ng-click="initiateRequest()" class="btn-info" name="name" value="Fetch" />
            <input type="submit" ng-click="storeResponse()" class="btn-danger" name="name" value="Store" />
            <input type="submit" ng-click="showAll()" class="btn-default" name="name" value="Show All" />
        </form>
    </div>
    <div id="error_display"></div>
    <div id="response_display">
        <p>Status = {{responseObject.StatusCode}}</p>
        <p>URL = {{responseObject.URL}}</p>
        <p>HTTP Method = {{responseObject.HTTP_Method}}</p>
        <p>Respone Time = {{responseObject.ResponseTime}}</p>
    </div>
</div>
